  /* general */
body{
    margin: auto;
}
h1{
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
h5{
    margin-top: 0px;
    margin-bottom: 0px;
}
header{
    background-image: url(../img/pattern.png);
    background-color: #2daee6;
    background-size: 400px;
    height: 140px;
}
    
.logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
    
}
    /* table */
.tab{
    margin-top: 20px;
}
thead{
    background-color: #17a3df;
    color: #ffffff;
}
.th_size{
    width: 50px;
}
.tbg{
   background-color: #B1E5F2;
}

    /* fine tabella */
.img1{
    background-image:url(../img/monitor.jpg) ;
    width: 210px;
    height: 160px;
    padding: 15px;
    margin-bottom: 10px;;
}
.img2{
    background-image: url(../img/graph.jpg);
    width: 210px;
    height: 160px;
    padding: 15px;
}
.colr{
    color: #ffffff;
}

    /* span */
 .grey-word{
        color: #808080;
    }
 .blue-word{
        color: #2daee6;
    }
.yellow-marker{
        background-color: #ffff00;
    }