  /* general */
body{
    margin: auto;
}
h1{
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
h5{
    margin-top: 0px;
    margin-bottom: 0px;
}
header{
    background-image: url(../img/pattern.png);
    background-color: #2daee6;
    background-size: 400px;
    height: 140px;
}
    
.logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
    
}
    /* table */
.tab{
    margin-top: 20px;
}
thead{
    background-color: #20A9E5;
    color: #ffffff;
}
.th_size{
    width: 30px;
}
.tbg{
   background-color: #B1E5F2;
}

    /* span */
 .grey-word{
        color: #808080;
    }
 .blue-word{
        color: #2daee6;
    }
.yellow-marker{
        background-color: #ffff00;
    }